.histogram {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 16px 24px 24px 24px;
}

.histogram__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 6px;
}

.histogram__title {
    color: var(--black);
    opacity: 0.8;
}

.histogram__details {
    color: var(--blue);
    text-decoration: none;
}

.histogram__total {
    color: var(--black);
    font-size: 20px;
}

.histogram__chart {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 39px;
}

.histogram__rectangle {
    background-color: var(--blue);
    margin-right: 1px;
    flex-grow: 1;
}
