@import '../fonts/fonts.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #4263EB;
    --blue-light: #A0B1F5;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #F9FAFC;
    --grey-6: rgba(196, 196, 196, 0.5);

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --primary-hover: #2342C0;
    --secondary: var(--purple);
    --secondary-hover: #5028C6;

    --skeleton-background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);

    --calendar-dark: #334D6E;
    --calendar-light: #90A0B7;
    --transparent: rgba(0, 0, 0, 0.0);
}

/*reset*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--grey-5);
}
