.radio {
    display: inline-block;
}

.radio__state {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
}

.radio__control {
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    background-color: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 50%;
    position: relative;
}

.radio__icon {
    width: 18px;
    height: 18px;
    border-radius: 50% ;
    background-color: var(--blue);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.radio__label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.radio__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.radio__input:checked ~ .radio__state .radio__control {
    width: 28px;
    height: 28px;
    background: var(--white);
    border: 2px solid var(--blue);
    border-radius: 50%;
    position: relative;
}

.radio__input:checked ~ .radio__state .radio__icon {
    display: inline;
}

.radio__input:focus ~ .radio__state .radio__label {
    text-decoration: underline;
}

/*Disabled*/

.radio__input:disabled ~ .radio__state {
    cursor: default;
}

.radio__input:disabled ~ .radio__state .radio__label {
    color: var(--grey-2);
}

.radio__input:disabled ~ .radio__state .radio__control {
    background: var(--grey-2);
    border-color: var(--grey-2);
}

.radio__input:disabled:not(:checked) ~ .radio__state .radio__control .radio__icon {
    display: none;
}
