.checkbox {
    display: inline-block;
}

.checkbox__state {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
}

.checkbox__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.checkbox__control {
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 4px;
    position: relative;
}

.checkbox__label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.checkbox__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
    background: var(--blue);
    border-color: var(--blue);
}

.checkbox__input:focus ~ .checkbox__state .checkbox__label {
    text-decoration: underline;
}

/*Disabled*/

.checkbox__input:disabled ~ .checkbox__state {
    cursor: default;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__label {
    color: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
    background: var(--grey-2);
    border-color: var(--grey-2);
}

.checkbox__input:disabled:not(:checked) ~ .checkbox__state .checkbox__control .checkbox__icon {
    display: none;
}
